/* poppins Google Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
}


/* ----------------\ 
Header CSS start 
\---------------- */

.menu {
    background-color: #2d25a0;
    display: flex;
    justify-content: space-between;
}


.menu ul {
    display: flex;
    list-style: none;
    margin-top: 42px;
    margin-left: 140px;
}


.menu ul li {
    margin-right: 36px;
}


.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}


.menu button {
    margin-top: 32px;
    margin-right: 140px;
    padding: 10px 24px;
    border: none;
    background-color: #E02C6D;
    border-radius: 5px;
}


.menu button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}


.fa-sign-in-alt {
    margin-right: 8px;
    height: 16px;
}


.menu button:hover {
    background-color: #ff0000;
    transition: 1s ease-in-out;
}

/* ----------------\ 
Header CSS end
\---------------- */



/* ----------------\ 
conteiner CSS start 
\---------------- */

.conteiner {
    width: 100%;
    background-color: #2d25a0;
}


.contect-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.text {
    width: 50%;
}

.text h1 {
    font-size: 60px;
    color: #FFFFFF;
}


.text button {
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #f5577c, #d64a31);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.288);
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}

.text button:hover {
    transform: translateX(50px);
}


.fa-external-link-alt {
    margin-right: 8px;
}

.image {
    width: 50%;
    transition: all 0.80s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}

.image img {
    width: 540px;
    height: 440px;
}

.image:hover {
    transform: translateX(-30px);
    box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.11);

}



/* ----------------\ 
conteiner CSS end 
\---------------- */




/* --------------------\
player blog information CSS start  
\ ------------------------ */


.player-info {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}


.article-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
        
}

.blog {
    width: 330px;
    height: 470px;
    box-shadow: 10px 10px 15px rgba(12, 12, 44, 0.192);
    border-radius: 5px;
}

.content-area {
    padding: 15px;
}

.content-area img {
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}

.content-area h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.content-area p {
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
}

/* --------------------\
player blog information CSS END  
\ ------------------------ */



/* --------------------\
Video game Area CSS start  
\ ------------------------ */


.video-area {
    margin: 0 140px 50px 140px;  
}

.video-info {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.video {
    width: 50%;
}

.text-area {
    width: 50%;
}


.text-area h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-area p {
    text-align: justify;
    font-size: 16px;

}


/* --------------------\
Video game Area CSS END  
\ ------------------------ */



/* --------------------\
Our Media Partner CSS strat  
\ ------------------------ */



.media-partner {
    text-align: center;
    margin: 0 140px 50px 140px;

}

.company {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 20px;
}

.media-partner h1 {
    color: royalblue;
    font-size: 28px;
    margin: 25px;

}
.comany-name img {
    width: 100px;
    height: 100px;
} 


/* --------------------\
Our Media Partner CSS END 
\ ------------------------ */



/* --------------------\
Footer CSS start  
\ ------------------------ */


.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-content img {
    width: 483px;
    height: 110px;
}

.icon {
    align-items: center;
    margin-left: 14px;
}

.icon i {
    width: 32px;
    height: 32px;
}


/* --------------------\
Footer CSS end  
\ ------------------------ */



/* ---------- Resposive Code ---------- */

@media only screen and (max-width: 688px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    .menu {
        display: none;
    }

    .contect-area {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        
    }

    .text h1 {
        font-size: 40px;

    }

    .text {
        margin-bottom: 10px;
    }

    .text button {
        font-size: 16px;

    }

    .image img {
        margin-top: 50px;
        width: 270px;
        height: 220px;
    }

    /* conteiner area  */

    .player-info {
        margin-bottom: 10px;
    }

    .article-blog {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    /* Video section  */

    .video-area {
        margin: 50px 0 0 0;
        padding: 0;
        
    }

    .video-info {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
                
    }

    iframe {
        width: 200px;
        height: auto;
    }

    .text-area h2 {
        font-size: 20px;
    }


    /* media partner area  */

    .media-partner {
        margin: 0;
        padding: 0;

    }


    .company {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: 0;
        padding: 0;
    }


    /* Footer area  */

    .footer-content img {
        width: 283px;
        height: 64px;
        margin-top: 50px;
    }


}

/* CSS END  */